.RegistrationContainer {
  height: auto;
  width: 35%;
  background-color: #f3f3f3;
  padding: 30px;
  margin: auto;
  margin-top: 5%;
}

.inside-container {

}

.full-width {
  width: 100%;
}

@media screen and (max-width: 650px) {
  .RegistrationContainer {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #f3f3f3;
    box-sizing: border-box;
  }
  .inside-container {
    margin-top: 5%;
    background: #FFFFFF;
    padding: 20px;
  }
  .full-width {
    width: 100%;
  }
}
