<div class="loginContainer">
  <mat-card class="inside-container">
  <div>
      <div style="text-align: center;">
        <h4>LOG IN</h4>
      </div>
  <form>
    <table cellspacing="0" style="width:100%">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input type="text"  matInput name="mobile_number" id="mobile_number" [(ngModel)]="userLogin.username" placeholder="Mobile Number"required/>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input class="" type="password" matInput name="password" id="password" [(ngModel)]="userLogin.password" placeholder="Password" required/>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>

  <p>
    <button mat-raised-button class="full-width" color="primary" (click)="loginUser()">LOG IN</button>
  </p>
    <mat-error align="center" style="font-size: 0.85em;">
        {{errorMessage}}
    </mat-error>
    <div id="successMessage" style="color: #46dc00; text-align: center">
      {{successMessage}}
    </div>
    <br>
  <mat-hint>
    <div style="text-align: center;">
      New To Crispy Chat? <a routerLink="/register">Register</a>
    </div>
  </mat-hint>

  </div>
  </mat-card>
</div>
