<div class="loginContainer">
    <div class="inside-container">
      <div style="text-align: center;">
        <h4>Welcome to Crispy Chat</h4>
      </div>
      <mat-card>
      <table cellspacing="0" class="full-width">
        <tr>
          <td>
            <button mat-raised-button class="full-width" routerLink="/login" >LOG IN</button>
          </td>
        </tr>
        <tr>
          <td>
            <div style="text-align: center;">or</div>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-raised-button class="full-width" routerLink="/register">CREATE AN ACCOUNT</button>
          </td>
        </tr>
      </table>
      </mat-card>
    </div>
</div>
